.prices__content {
    text-align: right;
    margin-right: 5%;
    margin-top: 16rem;
    padding-bottom: 25rem;
}
.prices__title {
    color: #404fd6;
    font-size: 40px;
    font-weight: bold;
}
.prices__description {
    margin-top: 1rem;
    color: white;
    font-size: 30px;
    font-weight: bold;
}